@(images:Images)

@main("Welcome to Play") {

<!-- START Navigation for mobile devices -->
<!--<nav class="top-bar show-for-large-down nav">
    <ul class="title-area">
        <li class="name">Navigate to...</li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    
    <section class="top-bar-section">
        <ul>
            <li><a href="#section-0"><i class="fa fa-arrow-up"></i></a></li>
            <li><a href="#section-1">Our Story</a></li>
            <li><a href="#section-2">Photos</a></li>
            <li><a href="#section-5">Gifts</a></li>
            <li><a href="#section-6">Rsvp</a></li>
        </ul>
    </section>
</nav>--><!-- END Navigation for mobile devices -->


<!-- try2-->
<div class="row collapse">
    <!--<aside class="large-3 columns hide-for-medium-down">-->
    <aside class="large-3 columns">
        <div class="side-nav-container nav">
            <div class="shadow"></div>
            <h1 class="logo"><a href="#section-0">A &amp; K</a></h1>
            <!--<nav class="hide-for-large-down">-->
            <nav>
                <ul class="side-nav primary-nav">
                    <li><a href="#section-1">Our Story</a></li>
                    <li><a href="#section-2">Photos</a></li>
                    <li><a href="#section-5">Gifts</a></li>
                    <li><a href="#section-6">Rsvp</a></li>
                </ul>
            </nav>
            <span class="ribbon"></span>
        </div><!-- END .nav-container .shadow -->
    </aside>
    
    <div id="main" class="large-9 columns">
        <div id="section-0">
            <header>
                <h2 class="section-title">
                    <span>Aron</span> <em>and</em> <span>Kelly</span>
                </h2>
            </header>
            <p class="subline">Invite You to Celebrate At their Wedding</p>
            <div class="preloader">
                <img src="@images.front" alt="Placeholder" class="hero-unit fade-in" />
            </div>
            <div class="row divider date-section">
                <div class="large-6 small-12 columns">
                    <div class="date-container col-1">
                        <span class="day-date">Sunday, May 18</span>
                        <span class="day-year accent">2014</span>
                    </div>
                </div>
                <div class="large-6 small-12 columns">
                    <div class="date-container col-2">
                        <span class="day-time">Half past six o'clock in the evening</span>
                        <span class="day-location accent">Seattle Aquarium</span>
                        <span class="day-address">1483 Alaskan Way Seattle, Washington</span>
                        <span class="day-meta">mocktails + dinner/reception </span>
                    </div>
                </div>
            </div><!-- END .row -->
        </div><!-- END #section-0 -->
        
        <div class="callout">
            <a href="#section-6" class="button radius js-scroll">
                <i class="fa fa-envelope"></i> <span class="btn-label">Click here to RSVP today</span>
            </a>
        </div><!-- END .callout -->
        
        <div id="section-1" class="section-odd row">
            <div class="section-title-container">
                <h2 class="section-title">Our Story</h2>
                <span class="hearts"></span>
            </div>
            <div class="small-12 large-10 large-centered columns">
                <div class="row">
                    <div class="small-12 large-6 columns section-bride">
                        <div class="preloader">
                            <img src="@images.bride" alt="Bride" class="fade-in" />
                        </div>
                        <blockquote class="caption-1">
                            <h3>What is your favorite thing about Kelly?</h3>
                            <p>
                            I love how Kelly is always so happy. And what makes her happy is very simple. She can be happy because she learned how to make delicious red bean hand-knead bread. She can also be happy because she gets to eat a Dick’s Deluxe burger & soggy fries for late night snack. It’s the little joys in life that she looks forward to and I have been trying my best to keep her happy and allow her to do the things she wants. That’s why I am now a Grand-Master League in dish washing & clean-up ;D.
                            </p>
                            <h3>Describe your most memorable date.</h3>
                            <p>
                            I don't remember an official "date". But my most memorable moment about us was when I asked her to be my girlfriend. Before I asked her, my heart was pounding so hard that even she could hear my heartbeat. I am glad I was able to ask her before any cardiac arrest. Afterwards, we shared our feelings for each other for the past two years…..yes it took me that long to ask her… That was the beginning of our official love relationship!
                            </p>
                            <h3>How did the two of you love birds meet?</h3>
                            <p>
                            I met Kelly in a Math class at Ingraham High School. The first thing I noticed about Kelly was that she was quite smart and easygoing. (She later claimed that she scored higher than me on some tests in that class, but I don’t recall that part @@-@@.) I did not speak much English back then, but we still chatted on MSN Messenger using both Chinese and English. Even though we came from different backgrounds, we both had very laid-back personalities which made us very good friends and a good match for each other.
                            </p>
                            <strong class="right">- Aron's Story</strong>
                        </blockquote>
                    </div>
                    <div class="small-12 large-6 columns section-groom">
                        <div class="preloader">
                            <img src="@images.groom" alt="Groom" class="fade-in" />
                        </div>
                        <blockquote class="caption-2">
                            <h3>Whats your favorite thing about Aron?</h3>
                            <p>
                            Warm Feet.
                            </p>
                            <p>
                            An attending once told me that over his many years as a seasoned neurologist he made the astute observation that those with cold feet and those with warm feet always pair off together. SO TRUE! Sadly I am the cold footed half of this relationship.
                            </p>
                            <p>
                            No really on a more serious note, my favorite thing about Aron is that he is always up for playing out whatever crazy idea I come up with. I'm really not as innovative and creative as I like to think I am. Whether is be some "short cut" that ends up taking longer or some ridiculous recipe (that he ends up having to eat) he's always my partner in crime.
                            </p>
                            <h3>Describe your most memorable date.</h3>
                            <p>
                            We don't really go on dates per say but for the first couple of years that we were going out Pixar would always have a new movie coming out around the time of our anniversary. (We're big kids at heart if you couldn't tell) UP, Wall-E, Toy Story 3. Then started this new fad of no original movies (I know TS3 is a sequel but TS2 came out in '99!), yes I'm talking about the year that Cars 2 came out. Lame Sauce.
                            </p>
                            <h3>How did the two of you love birds meet?</h3>
                            <p>
                            High School Calculus.
                            </p>
                            <p>
                            What did I notice? I thought kids in Asia were supposed to be the best in math but who was number 1 in the class (raises hand! haha) Friendly unilateral competition, just kidding I've never really been competitive haha.
                            </p>
                            <strong class="right">- Kelly's Story</strong>
                        </blockquote>
                    </div>
                </div><!-- END .row -->
            </div><!-- END .small-12  -->
        </div><!-- END #section-1 -->
        
        <div id="section-2" class="row">
            <div class="section-title-container">
                <h2 class="section-title">Photos</h2>
                <span class="hearts"></span>
            </div>
            <div class="small-12 columns">
                <ul class="clearing-thumbs" data-clearing>
                    <li>
                        <a href ="@images.photo1">
                            <img src="@images.photo1" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo2">
                            <img src="@images.photo2" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo3">
                            <img src="@images.photo3" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo4">
                            <img src="@images.photo4" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo5">
                            <img src="@images.photo5" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo6">
                            <img src="@images.photo6" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo7">
                            <img src="@images.photo7" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                    <li>
                        <a href ="@images.photo8">
                            <img src="@images.photo8" alt="" class="fade-in">
                                <span class="overlay-label"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- END #section-2 -->
        
        <div id="section-5" class="section-odd">
            <div class="section-title-container">
                <h2 class="section-title">Gifts</h2>
                <span class="hearts"></span>
            </div>
            <div class="small-12 large-6 large-centered columns wrapper">
                <ul class="small-block-grid-1 large-block-grid-2 block-grid">
                    <!--<li>
                     <a href="#" class="block-logo">
                     <img src="@routes.Assets.at("img/logo-1.png")" alt="Logo" />
                     </a>
                     </li>
                     <li>
                     <a href="#" class="block-logo">
                     <img src="@routes.Assets.at("img/logo-2.png")" alt="Logo" />
                     </a>
                     </li>-->
                    <li>
                        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=6111529" class="block-logo">
                            <img src="@images.macys" alt="Logo" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.amazon.com/registry/wedding/D8F1HQCIUBX3" class="block-logo">
                            <img src="@images.amazon" alt="Logo" />
                        </a>
                    </li>
                </ul>
                <p class="content-block">
                Here is our wedding wishlist. We've handpicked a few items that we could definitely use as we start this new exciting chapter in our lives together.
                </p><!-- END .content-block -->
            </div>
        </div><!-- END #section-5 -->
        
        <div id="section-6">
            <div class="section-title-container">
                <h2 class="section-title">Rsvp</h2>
                <span class="hearts"></span>
            </div>
            <div class="small-12 large-10 large-centered columns">
                <!--<form method="post" action="#" class="rsvp-form custom">
                 <fieldset class="rsvp-details">
                 <legend>
                 <strong>Submit one RSVP per person</strong> that will be attending. Kindly respond by <strong>Friday, April 25, 2014</strong>. We look forward to celebrating with you!
                 </legend>
                 <div class="row">
                 <div class="large-6 columns">
                 <label for="firstname">First Name</label>
                 <input type="text" class="input-field" id="firstname" name="firstname" value="">
                 </div>
                 <div class="large-6 columns">
                 <label for="lastname">Last Name</label>
                 <input type="text" class="input-field" id="lastname" name="lastname" value="">
                 </div>
                 </div>
                 <div class="row">
                 <div class="large-6 columns">
                 <label for="email">Email</label>
                 <input type="text" class="input-field" id="email" name="email" value="">
                 </div>
                 <div class="large-6 columns">
                 <label for="phone">Phone</label>
                 <input type="text" class="input-field" id="phone" name="phone" value="">
                 </div>
                 </div>
                 </fieldset>
                 <fieldset class="rsvp-attendance">
                 <legend>Will you be attending?</legend>
                 <div class="large-6 columns">
                 <label for="radio1">
                 <input name="radio" type="radio" id="radio1" style="display:none;">
                 <span class="custom radio"></span>
                 <span class="radio-label">Accepts with Pleasure!</span>
                 </label>
                 </div>
                 <div class="large-6 columns">
                 <label for="radio2">
                 <input name="radio" type="radio" id="radio2" style="display:none;">
                 <span class="custom radio"></span>
                 <span class="radio-label">Declines with Regret.</span>
                 </label>
                 </div>
                 </fieldset>
                 <a class="button radius" href="#">
                 <i class="fa fa-envelope"></i>
                 <span class="btn-label">Send</span>
                 </a>
                 </form>
                 -->
                <!-- Insert Google Form here -->
                <form action="https://docs.google.com/forms/d/1Sb0xrqVWo_Z1l2fEd-XFI2ssJa5hTST3VN-7R50PHoc/formResponse" method="POST" id="ss-form" target="_self" onsubmit="" class="rsvp-form custom">
                <!--<form action="sendRSVP" method="POST" id="ss-form" target="_self" onsubmit="" class="rsvp-form custom">-->
                    <fieldset class="rsvp-details">
                        <legend>
                            <strong>Submit one RSVP per person</strong> that will be attending. Kindly respond by <strong>Friday, April 25, 2014</strong>. We look forward to celebrating with you!
                        </legend>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="firstname">First Name</label>
                                <input type="text" name="entry.1152332749" value="" class="input-field" id="firstname" dir="auto" aria-label="First Name  " aria-required="true" required="" title="">
                            </div>
                            <div class="large-6 columns">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="entry.1429832955" value="" class="input-field" id="lastname" dir="auto" aria-label="Last Name  " aria-required="true" required="" title="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="email">Email</label>
                                <input type="text" name="entry.533078986" value="" class="input-field" id="email" dir="auto" aria-label="E-mail  " title="">
                            </div>
                            <div class="large-6 columns">
                                <label for="phone">Phone</label>
                                <input type="text" name="entry.1246857337" value="" class="input-field" id="phone" dir="auto" aria-label="Phone   " title="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <label for="allergies">Tell us about food allergies you may have.</label>
                                <input type="text" name="entry.1162802384" value="" class="input-field" id="allergies" dir="auto" aria-label="Tell us about food allergies you may have.   " title="">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="rsvp-attendance">
                        <legend>Will you be attending?</legend>
                        <div class="large-6 columns">
                            <label for="radio1">
                                <input type="radio" name="entry.1633837682" value="Accepts with pleasure!" id="radio1" role="radio" class="ss-q-radio" aria-label="Accepts with pleasure!">
                                    <span class="custom radio"></span>
                                    <span class="radio-label">Accepts with Pleasure!</span>
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label for="radio2">
                                <input type="radio" name="entry.1633837682" value="Declines with regret." id="radio2" role="radio" class="ss-q-radio" aria-label="Declines with regret.">
                                    <span class="custom radio"></span>
                                    <span class="radio-label">Declines with Regret.</span>
                            </label>
                        </div>
                    </fieldset>
                    <input type="hidden" name="draftResponse" value="[,,&quot;-4899940079954488077&quot;]">
                    <input type="hidden" name="pageHistory" value="0">
                    <input type="hidden" name="fromEmail" value="false">
                    <input type="hidden" name="fbzx" value="-4899940079954488077">
                    <input type="submit" name="submit" value="Submit" id="ss-submit" class="button radius"  >
                    <!--    <input type="submit" name="submit" value="Submit" id="ss-submit" style="background-color:#A4DCD1; color:#FFF;"> -->
                </form>
                <!-- End Google Form -->
                
                <p>
                For any questions please email us:
                <a href="mailto:aronandkelly@@gmail.com" title="E-mail Us">
                    aronandkelly@@gmail.com
                </a>
                </p>
            </div><!-- END .large-8 -->
            <!--Google map-->
            <!--<iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;q=seattle+aquarium&amp;fb=1&amp;gl=us&amp;hq=seattle+aquarium&amp;cid=13359277549937890737&amp;ll=47.60759,-122.343227&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><!--<small><a href="https://maps.google.com/maps?ie=UTF8&amp;q=seattle+aquarium&amp;fb=1&amp;gl=us&amp;hq=seattle+aquarium&amp;cid=13359277549937890737&amp;ll=47.60759,-122.343227&amp;spn=0.006295,0.006295&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>
            -->
            <div id="map-canvas-kara" style="width:100%; height:500px;"></div>
        </div><!-- END .row -->
        
    </div><!--END main-->
</div><!--END .row-->


<script src="@routes.Assets.at("js/vendor/jquery.min.js")"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="@routes.Assets.at("js/foundation.min.js")"></script>
<script src="@routes.Assets.at("js/vendor/jquery.backstretch.min.js")"></script>
<script src="@routes.Assets.at("js/vendor/jquery.scrollTo-1.4.3-min.js")"></script>
<script src="@routes.Assets.at("js/vendor/jquery.nav.min.js")"></script>
<script src="@routes.Assets.at("js/vendor/jquery.flexslider.min.js")"></script>
<script src="@routes.Assets.at("js/custom.js")"></script>


<script>
    $(document).foundation();
</script>


}
