@(title: String)(content: Html)

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Aron & Kelly</title>
        <meta name="description" content="This is the a responsive web site for Aron and Kelly's upcoming May 2014 wedding." />  
        <!--[if IE 8]><link rel="stylesheet" href="@routes.Assets.at("css/ie8.css")" /> <![endif]-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic">
        <link rel="stylesheet" href="@routes.Assets.at("css/normalize.min.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("css/foundation.min.css")" />      
        <link rel="stylesheet" href="@routes.Assets.at("css/flexslider.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("css/style.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("css/media-queries.css")" />      
        <script src="@routes.Assets.at("js/vendor/custom.modernizr.js")"></script>

        <!-- Icons Fonts Are Awesome -->
        <link rel="stylesheet" href="@routes.Assets.at("css/font-awesome.min.css")" />

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@routes.Assets.at("img/apple-touch-icon-144-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("img/apple-touch-icon-114-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("img/apple-touch-icon-72-precomposed.png")">
        <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("img/apple-touch-icon-57-precomposed.png")">
        <link rel="shortcut icon" href="@routes.Assets.at("img/favicon.ico")">
    </head>
    <body>

    <!-- START Navigation for mobile devices -->
    <nav class="top-bar show-for-large-down nav">
        <ul class="title-area">
            <li class="name">Navigate to...</li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul>
                <li><a href="#section-0"><i class="fa fa-arrow-up"></i></a></li>
                <li><a href="#section-1">Our Story</a></li>
                <li><a href="#section-2">Photos</a></li>
                <li><a href="#section-5">Gifts</a></li>
                <li><a href="#section-6">Rsvp</a></li>            
            </ul>
        </section>
    </nav><!-- END Navigation for mobile devices -->

        @content
    </body>
</html>
